@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face 
    {
    font-family:'android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
    }
:root
{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;
    
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-idroid:'android', cursive;
    --fonte-destaque:'Bebas Neue', cursive;
}
*
{
    margin: 0px;
    padding: 0px;
}
a.externo::after
{
content: '\1F517';
}
body
    {
        text-align: justify;
        background-color:#c5ebd6;
        font-family: var(--fonte-padrao);
    }
header
    {
        text-align: center;
        min-height: 150px;
        background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
        padding-top: 40px;
    }
    header > h1
    {
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.500);
        font-size: 3em;
        color: white;
        font-family:var(--fonte-destaque);
        text-align: center;
        margin-bottom: 20px;
        font-weight: normal;
    }
    header > P 
    {
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.500);
        color: white;
        font-family: var(--fonte-padrao);
        font-size: 1.2em;
        max-width: 500px;
        padding: 0px 10px 0px 10px;
        margin: auto;
        padding-bottom: 20px;
    }
    nav
    {
        background-color: #063d1e;
        padding: 10px;
        box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.500) ;
    } 
    nav a
    {
        text-decoration: none;
        color: #83e1ad;
        padding: 10px;
        font-weight: bold;
        transition-duration: 1s;
    }
    nav a:hover
    {
        border-radius: 5px;
        background-color: #3ddc84;
        color: #063d1e;
    }
    main
    {
        min-width: 320px;
        max-width: 850px;
        margin: auto;
        background-color: white;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
        margin-bottom: 30px;
        border-radius: 0px 0px 10px 10px;
    }
    main p
{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}
    main h1 
    {
        font-size: 1.8em;
        font-weight: normal;
        color: #063d1e;  
        font-family: var(--fonte-idroid);
    }
    main h2 
    {
        font-weight: normal;
        font-family: var(--fonte-idroid);
        color: #1a5c37;
        font-size: 1.2em;
        background-image: linear-gradient(to right, var(--cor1), transparent);
        text-indent: 10px;
    }
    main strong
    {
        color: #063d1e;
        font-weight: bold;
    }
    main a
    {
        text-decoration: none;
        font-weight: bold;
        color: #063d1e;
        background-color: #3ddc84;
        padding: 2px 6px;
    }
    main a:hover
    {
        color: white;
        text-decoration: underline;
    }
    main img
    {
        width: 100%;
    }
    main img.pequena
    {
    max-width: 350;
    margin: auto;
    display: block;
    }
    aside
    {
        background-color: #3ddc84;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.503);

    }
    aside > ul
    {
        list-style-type: '\2714\00A0' ;
        list-style: inside;
        columns: 2;
    }
    aside h3
    {
        background-color: #1a5c37;
        color: white;
        padding: 10px;
        margin: -10px -10px 0px -10px;
        border-radius: 10px 10px 0px 0px  ;
    }
div.video
{
    background-color: #063d1e;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 56.6%;
}
div.video > iframe
{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
footer
{
        text-align: center;
        background-color: #063d1e;
        color: #3ddc84;
        font-size: 0.8;
        padding: 5px;
}
footer  a
{
        text-decoration: none;
        font-weight: bolder;
        color: white;

}
footer a:hover
{
        text-decoration: underline;
        color: #2fa866
}
    